<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong>, {{user.role}}<br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
    <li class="list-group-item" ng-show="isAdmin">{{isAdmin}}
        <input type="text" ng-model="name" placeholder="Name" /> <input type="text" ng-model="email" placeholder="Email" />
        <a ng-click="addAdmin()"><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </li>
  </ul>
</div>